.oneTodo {
	background-color: rgba(44, 38, 38, 0.24);
	color: #fff;
	padding: 12px;
	margin-bottom: 12px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}